<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<meta name="description" content="" />
	<meta name="author" content="" />
	<title>Book Catalog</title>
	<!-- Favicon-->
	<link rel="icon" type="image/x-icon" href="~/lib/book/assets/book.ico" />
	<!-- Bootstrap icons-->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
	<!-- Core theme CSS (includes Bootstrap)-->
	<link href="~/lib/book/css/styles.css" rel="stylesheet" />
	<!-- Font Awesome-->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/app.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/Client.styles.css" asp-append-version="true" />
</head>
<body>
	<!-- Navigation-->
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<div class="container px-4 px-lg-5">
			@*<i class="fa fa-book me-sm-1"></i>*@
			<a class="navbar-brand" href="https://localhost:7099/">Book Catalog</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
					@*<li class="nav-item"><a class="nav-link active" aria-current="page" href="https://localhost:7099/">home</a></li>
					<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" id="navbardropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">shop</a>
					<ul class="dropdown-menu" aria-labelledby="navbardropdown">
					<li><a class="dropdown-item" href="#!">all products</a></li>
					<li><hr class="dropdown-divider" /></li>
					<li><a class="dropdown-item" href="#!">popular items</a></li>
					<li><a class="dropdown-item" href="#!">new arrivals</a></li>
					</ul>
					</li>*@
				</ul>
				@*<form class="d-flex">
				<button class="btn btn-outline-dark" type="submit">
				<i class="bi-cart-fill me-1"></i>
				Cart
				<span class="badge bg-dark text-white ms-1 rounded-pill">0</span>
				</button>
				</form>*@
				@if (!User.IsInRole("Admin"))
				{
				}
				else
				{
					<li class="nav-item d-flex align-items-center">
						<a href="https://localhost:7099/Book" class="nav-link text-body font-weight-bold px-2">
							<i class="fa fa-tachometer me-sm-1"></i>
							<span class="d-sm-inline d-none">Dashboard</span>
						</a>
					</li>
				}
				@if (!User.IsInRole("User") && (!User.IsInRole("Admin")))
				{
					<li class="nav-item d-flex align-items-center">
						<a href="https://localhost:7099/Account/Login" class="nav-link text-body font-weight-bold px-2">
							<i class="fa fa-sign-in me-sm-1"></i>

							<span class="d-sm-inline d-none">Login</span>

						</a>
					</li>
					<li class="nav-item d-flex align-items-center">
						<a href="https://localhost:7099/Account/Register" class="nav-link text-body font-weight-bold px-0">
							<i class="fa fa-user me-sm-1"></i>

							<span class="d-sm-inline d-none">Register</span>

						</a>
					</li>
				}
				else
				{
					<a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Logout">
						<i class="fa fa-sign-out me-sm-1"></i>
						<span class="d-sm-inline d-none">Logout</span>
					</a>
				}
			</div>
		</div>
	</nav>
	<!-- Header-->
	<header class="bg-dark py-2">
		<div class="container px-4 px-lg-5 my-5">
			<div class="text-center text-white">
				<h1 class="display-4 fw-bolder">Book Catalog</h1>
				<p class="lead fw-normal text-white-50 mb-0">World's best-selling book collection</p>
			</div>
		</div>
	</header>
	<!-- Section-->
	<section class="py-5">
		@RenderBody()
	</section>
	<!-- Footer-->
	<footer class="bg-dark py-5 mt-5">
		<div class="container"><p class="m-0 text-center text-white">Copyright &copy; Book Catalog 2023</p></div>
	</footer>
	<!-- Bootstrap core JS-->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
	<!-- Core theme JS-->
	<script src="~/lib/book/js/scripts.js"></script>
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
