@{
	ViewData["Title"] = "Index";
	Layout = "_AdminLayout";
}
<!DOCTYPE html>
<html lang="en-US">
<body>

	<h1>Dashboard</h1>

	<div id="piechart"></div>

	<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

	<script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.js"></script>
	<script src="~/js/chart.js" asp-append-version="true"></script>
</body>
</html>